* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
    scroll-behavior: smooth;
}

#price-smooth,
#home-smooth,
#contact-smooth,
#sortiments-smooth {
    height: auto;
}