.contact {
  display: flex;
  justify-content: center;
  background-image: url(../img/background-beans.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 30px;

  .contact-box {
    width: 500px;
    background-color: white;

    .contact-header {
      text-align: center;
    }

    label {
      font-size: 20px;
      background-color: white;
    }

    input[type='text'],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 2px solid black;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-weight: bold;
      font-size: 18px;
      background-color: white;
    }

    input[type='submit'] {
      background-image: linear-gradient(120deg, #ffcc99 0%, #663300 100%);
      color: black;
      padding: 12px 222px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
    }

    input[type='submit']:hover {
      background-image: linear-gradient(120deg, #663300 0%, #ffcc99 100%);
    }
  }
}