nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

nav .logo img {
  height: 150px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

nav .logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  margin: 60px;
}

nav ul a:hover {
  color: grey;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Amaranth', sans-serif;
  scroll-behavior: smooth;
}

#price-smooth,
#home-smooth,
#contact-smooth,
#sortiments-smooth {
  height: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line1,
.hamburger .line2,
.hamburger .line3 {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 18px);
          transform: rotate(-45deg) translate(-5px, 18px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(5px, -9px);
          transform: rotate(45deg) translate(5px, -9px);
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: 80vh;
    top: 20vh;
    background-image: linear-gradient(120deg, #ffcc99 0%, #663300 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .hamburger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.hero-img {
  background-image: url(../img/arabica-img.jpg);
  height: 700px;
  background-size: cover;
  background-position: center;
}

.icons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-section .icon-box1,
.icons-section .icon-box2,
.icons-section .icon-box3 {
  border: 15px solid white;
  width: 250px;
}

.icons-section .icon-box1 .icon-img1,
.icons-section .icon-box1 .icon-img2,
.icons-section .icon-box1 .icon-img3,
.icons-section .icon-box2 .icon-img1,
.icons-section .icon-box2 .icon-img2,
.icons-section .icon-box2 .icon-img3,
.icons-section .icon-box3 .icon-img1,
.icons-section .icon-box3 .icon-img2,
.icons-section .icon-box3 .icon-img3 {
  text-align: center;
  cursor: pointer;
}

.icons-section .icon-box1 .icon-img1 img,
.icons-section .icon-box2 .icon-img1 img,
.icons-section .icon-box3 .icon-img1 img {
  height: 150px;
}

.icons-section .icon-box1 .icon-img2 img,
.icons-section .icon-box2 .icon-img2 img,
.icons-section .icon-box3 .icon-img2 img {
  height: 150px;
}

.icons-section .icon-box1 .icon-img3 img,
.icons-section .icon-box2 .icon-img3 img,
.icons-section .icon-box3 .icon-img3 img {
  height: 150px;
}

.icons-section .icon-box1 hr,
.icons-section .icon-box2 hr,
.icons-section .icon-box3 hr {
  height: 3px;
  margin: 10px;
}

.icons-section .zoom {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.icons-section .zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.parallax {
  background-image: url(../img/arabica-img2.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 20px 0px 20px 0px;
}

.our-sortiments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-sortiments .our-sortiments-img {
  text-align: center;
  width: 300px;
}

.our-sortiments .our-sortiments-img img {
  height: 200px;
  cursor: pointer;
}

.our-sortiments .our-sortiments-img .zoom {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.our-sortiments .our-sortiments-img .zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.taste-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.taste-button .button button {
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  background-image: linear-gradient(120deg, #ffcc99 0%, #663300 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

.taste-button .button button:hover {
  color: white;
  background-image: linear-gradient(120deg, #663300 0%, #ffcc99 100%);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .gallery-box img {
  height: 400px;
  margin: 5px;
  cursor: pointer;
}

.gallery .gallery-box img:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.img-parallax {
  background-image: url(../img/arabica-img3.jpg);
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.price-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.price .price-box {
  border: 5px solid #662200;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.price .price-box img {
  width: 200px;
  height: 300px;
}

.price .price-box h1 {
  text-align: center;
}

.price .price-box .taste {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price .price-box .taste .taste-aroma,
.price .price-box .taste .taste-sharp,
.price .price-box .taste .taste-soft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price .price-box .taste .taste-aroma .taste-img img,
.price .price-box .taste .taste-sharp .taste-img img,
.price .price-box .taste .taste-soft .taste-img img {
  height: 45px;
  width: 120px;
}

.price .price-box .price-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price .price-box .price-button button {
  background-color: black;
  color: wheat;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
}

.price .price-box .price-button button:hover {
  background-color: wheat;
  color: black;
  border: 2px solid black;
}

.quote {
  height: 50px;
  background-color: #ffcc99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote cite {
  text-align: center;
  text-shadow: 2px 2px #adad85;
  font-weight: bold;
  font-size: 22px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/background-beans.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 30px;
}

.contact .contact-box {
  width: 500px;
  background-color: white;
}

.contact .contact-box .contact-header {
  text-align: center;
}

.contact .contact-box label {
  font-size: 20px;
  background-color: white;
}

.contact .contact-box input[type='text'],
.contact .contact-box select,
.contact .contact-box textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

.contact .contact-box input[type='submit'] {
  background-image: linear-gradient(120deg, #ffcc99 0%, #663300 100%);
  color: black;
  padding: 12px 222px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.contact .contact-box input[type='submit']:hover {
  background-image: linear-gradient(120deg, #663300 0%, #ffcc99 100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-box img {
  height: 100px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.footer .social-box img:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer-copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  nav {
    height: 150px;
  }
  nav .hamburger {
    position: relative;
    top: 50px;
  }
  .icons-section,
  .gallery,
  .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-img {
    height: 200px;
    width: 100%;
  }
  .parallax,
  .img-parallax {
    min-height: 200px;
  }
  .gallery-box img {
    height: 300px;
  }
  .contact-box {
    width: 200px;
  }
  .quote {
    height: 70px;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../img/background-beans.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 10px;
  }
  .contact .contact-box {
    width: 300px;
    background-color: white;
  }
  .contact .contact-box .contact-header {
    text-align: center;
  }
  .contact .contact-box label {
    font-size: 20px;
    background-color: white;
  }
  .contact .contact-box input[type='text'],
  .contact .contact-box select,
  .contact .contact-box textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
  }
  .contact .contact-box input[type='submit'] {
    padding: 12px 120px;
  }
  .contact .contact-box input[type='submit']:hover {
    background-image: linear-gradient(120deg, #663300 0%, #ffcc99 100%);
  }
  .quote cite {
    width: 80%;
  }
  .footer-copyright-text {
    margin-top: 10px;
  }
  .footer-copyright-text h3 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */